<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>Instagram</string>
	<key>CFBundleExecutable</key>
	<string>ShortLook-Instagram</string>
	<key>CFBundleIdentifier</key>
	<string>co.dynastic.ios.tweak.shortlook.plugin.contact-photo.instagram</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>ShortLook-Instagram</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.2</string>
	<key>CFBundleVersion</key>
	<string>1.0.2</string>
	<key>DDNotificationExternalProviderAPIVersion</key>
	<integer>1</integer>
	<key>DDNotificationExternalProviderClasses</key>
	<dict>
		<key>DDNotificationInstagramContactPhotoProvider</key>
		<string>com.burbn.instagram</string>
	</dict>
</dict>
</plist>
