<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>companyCopyrightName</key>
	<string>Dynastic Development, Inc.</string>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>co.dynastic.ios.tweak.shortlook.changed</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>PSSwitchTableCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>co.dynastic.ios.tweak.shortlook</string>
			<key>key</key>
			<string>Enabled</string>
			<key>label</key>
			<string>Enabled</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Display notifications with a dark blurred translucent background rather than the default solid black background.</string>
			<key>label</key>
			<string>Appearance</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>co.dynastic.ios.tweak.shortlook.changed</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>PSSwitchTableCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>co.dynastic.ios.tweak.shortlook</string>
			<key>key</key>
			<string>LoadContactPhotos</string>
			<key>label</key>
			<string>Show Contact Photos</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>co.dynastic.ios.tweak.shortlook.changed</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>PSSwitchTableCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>co.dynastic.ios.tweak.shortlook</string>
			<key>key</key>
			<string>TranslucentBG</string>
			<key>label</key>
			<string>Translucent Background</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Show notifications' content underneath their title and subtitle. This will not show if you have 'Show Previews' turned off for the application sending the notification.</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>co.dynastic.ios.tweak.shortlook.changed</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>PSSwitchTableCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>co.dynastic.ios.tweak.shortlook</string>
			<key>key</key>
			<string>ShowNotificationBody</string>
			<key>label</key>
			<string>Show Notification Message</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Specify how long to wait before automatically dismissing a notification.</string>
			<key>label</key>
			<string>Timeout</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>co.dynastic.ios.tweak.shortlook.changed</string>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>1.0</real>
			<key>defaults</key>
			<string>co.dynastic.ios.tweak.shortlook</string>
			<key>isSegmented</key>
			<true/>
			<key>key</key>
			<string>WaitDuration</string>
			<key>label</key>
			<string>Duration</string>
			<key>max</key>
			<real>10.0</real>
			<key>min</key>
			<real>0.0</real>
			<key>segmentCount</key>
			<integer>20</integer>
			<key>showValue</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Rather than showing the Lock screen, return to sleep after displaying a notification if the device is not raised or tapped.</string>
			<key>label</key>
			<string>Motion</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>co.dynastic.ios.tweak.shortlook.changed</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>PSSwitchTableCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>co.dynastic.ios.tweak.shortlook</string>
			<key>key</key>
			<string>DismissOnRaiseToWake</string>
			<key>label</key>
			<string>Dismiss on 'Raise to Wake'</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>co.dynastic.ios.tweak.shortlook.changed</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>PSSwitchTableCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>co.dynastic.ios.tweak.shortlook</string>
			<key>key</key>
			<string>SleepAfter</string>
			<key>label</key>
			<string>Resume Sleep unless Acknowledged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Your device will return to the Lock screen and you will receive a test notification from a random application.</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>co.dynastic.ios.tweak.shortlook.test-requested</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Send Test Notification</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>Plist</key>
			<string>Advanced</string>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>DDSettingsSubController</string>
			<key>isController</key>
			<true/>
			<key>label</key>
			<string>Advanced</string>
		</dict>
	</array>
</dict>
</plist>
