Package: com.kulinichx.shortlook.plugin.telegram
Name: ShortLook-Telegram
Version: 1.2.0+reborn
Architecture: iphoneos-arm64e
Description: Show Telegram Contact Photos in ShortLook when you receive a Telegram notification! Rebuilt for ShortLook Reborn (RootHide).
Maintainer: kulinichx
Author: RedenticDev
Section: Tweaks (ShortLook)
Depends: mobilesubstrate, co.dynastic.ios.tweak.shortlook
Conflicts: com.redenticdev.shortlook.plugin.contact-photo.telegram
Replaces: com.redenticdev.shortlook.plugin.contact-photo.telegram
Provides: com.redenticdev.shortlook.plugin.contact-photo.telegram
