<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>抖音</string>
	<key>CFBundleExecutable</key>
	<string>ShortLook-Douyin</string>
	<key>CFBundleIdentifier</key>
	<string>com.kokol.shortlook.plugin.contact-photo.douyin</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>ShortLook-Douyin</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleVersion</key>
	<string>1.0.0</string>
	<key>DDNotificationExternalProviderAPIVersion</key>
	<integer>1</integer>
	<key>DDNotificationExternalProviderClasses</key>
	<dict>
		<key>DouyinContactPhotoProvider</key>
		<string>com.ss.iphone.ugc.Aweme</string>
	</dict>
</dict>
</plist>
