<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>Telegram</string>
	<key>CFBundleExecutable</key>
	<string>ShortLook-Telegram</string>
	<key>CFBundleIdentifier</key>
	<string>com.redenticdev.shortlook.plugin.contact-photo.telegram</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>ShortLook-Telegram</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.2.0</string>
	<key>CFBundleVersion</key>
	<string>1.2.0</string>
	<key>DDNotificationExternalProviderAPIVersion</key>
	<integer>1</integer>
	<key>DDNotificationExternalProviderClasses</key>
	<dict>
		<key>TelegramContactPhotoProvider</key>
		<array>
			<string>ph.telegra.Telegraph</string>
			<string>app.swiftgram.ios</string>
			<string>app.nicegram</string>
			<string>xyz.nextalone.nagram</string>
			<string>com.olcorporation.olai</string>
			<string>com.seastar.turrit</string>
		</array>
	</dict>
</dict>
</plist>
