Package: com.kulinichx.shortlook.plugin.pinterest
Name: ShortLook-Pinterest
Version: 1.0.1+reborn
Architecture: iphoneos-arm64e
Description: Show Pinterest users' profile pictures in ShortLook when you receive a Pinterest notification! Rebuilt for ShortLook Reborn (RootHide).
Maintainer: kulinichx
Author: Jeff Rescignano
Section: Tweaks (ShortLook)
Depends: mobilesubstrate, co.dynastic.ios.tweak.shortlook
Conflicts: com.jeffresc.shortlook.plugin.contact-photo.pinterest
Replaces: com.jeffresc.shortlook.plugin.contact-photo.pinterest
Provides: com.jeffresc.shortlook.plugin.contact-photo.pinterest
