Package: com.jeffresc.shortlook.plugin.contact-photo.pinterest
Name: Pinterest Profile Pictures for ShortLook
Version: 1.0.1+reborn.1
Architecture: iphoneos-arm64e
Description: Show Pinterest users' profile pictures in ShortLook when you receive a Pinterest notification! Rebuilt for ShortLook Reborn (RootHide).
Maintainer: JeffResc
Author: Jeff Rescignano
Section: Tweaks (ShortLook)
Depends: mobilesubstrate, co.dynastic.ios.tweak.shortlook
