Package: com.kulinichx.shortlook.plugin.github
Name: ShortLook-GitHub
Version: 1.0.0+reborn
Architecture: iphoneos-arm64e
Description: Show GitHub Profile Pictures in ShortLook when you receive a GitHub notification! Rebuilt for ShortLook Reborn (RootHide).
Maintainer: kulinichx
Author: Marco Roth
Section: Tweaks (ShortLook)
Depends: mobilesubstrate, co.dynastic.ios.tweak.shortlook
Conflicts: ch.marcoroth.shortlook.plugin.profile-picture.github
Replaces: ch.marcoroth.shortlook.plugin.profile-picture.github
Provides: ch.marcoroth.shortlook.plugin.profile-picture.github
