Package: ch.marcoroth.shortlook.plugin.profile-picture.github
Name: GitHub Profile Pictures for ShortLook
Version: 1.0.0+reborn.1
Architecture: iphoneos-arm64e
Description: Show GitHub Profile Pictures in ShortLook when you receive a GitHub notification! Rebuilt for ShortLook Reborn (RootHide).
Maintainer: Marco Roth
Author: Marco Roth
Section: Tweaks (ShortLook)
Depends: mobilesubstrate, co.dynastic.ios.tweak.shortlook
