Package: com.kulinichx.shortlook.plugin.youtube
Name: ShortLook-YouTube
Version: 1.0.1+reborn
Architecture: iphoneos-arm64e
Description: Show YouTube video thumbnails in ShortLook when you receive a YouTube upload notification! Rebuilt for ShortLook Reborn (RootHide).
Maintainer: kulinichx
Author: Jeff Rescignano
Section: Tweaks (ShortLook)
Depends: mobilesubstrate, co.dynastic.ios.tweak.shortlook
Conflicts: com.jeffresc.shortlook.plugin.contact-photo.youtube
Replaces: com.jeffresc.shortlook.plugin.contact-photo.youtube
Provides: com.jeffresc.shortlook.plugin.contact-photo.youtube
